<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@db-host:1521/service-name</property>
        <property name="hibernate.connection.username">app_user</property>
        <property name="hibernate.connection.password">change-me</property>
        <!--<property name="hbm2ddl.auto">create-drop</property>-->
        <property name="show_sql">false</property>
        
        <mapping resource="model/to/Users.hbm.xml"/>
        <mapping resource="model/to/UserRoleTo.hbm.xml"/>
        <mapping resource="model/to/PagesTo.hbm.xml"/>
        <mapping resource="model/to/UserPageTo.hbm.xml"/>
        <mapping resource="model/to/LogTo.hbm.xml"/>
        <mapping resource="model/to/UserBackupTo.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
